<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
	<%- include('./partials/header.ejs') %> 
	<div class="container">
        <div class="row">
            <div class="col mx-auto">
                <div class="card shadow">
                    <div class="card body">
                        <img width="100%" src="/accessAdmin/WhatsApp Image 2022-10-27 at 22.32.17.jpeg" alt="">
                    </div>
                    <a href="/">Volver al home!! :D</a>
                </div>
            </div>
        </div>
    </div>
	<%- include('./partials/footer.ejs') %> 
</body>
</html>